<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    {{{_sections.head}}}
</head>
<body>
    {{{body}}}
    <div id="nurseryRhyme">Click a button ...</div>
    <hr>
    <button id="btnNurseryRhyme">Generate nursery rhyme</button>
    <button id="btnNurseryRhymeAjax">Generate nursery rhyme from AJAX</button>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    {{{_sections.jquery}}}
</body>
</html>
